@page "/Bank/CreateTransaction"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BankApp.Data
@using BankApp.Models
@using Microsoft.EntityFrameworkCore

@inject DbContextService DbContextService
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@layout BankLayout

@rendermode InteractiveServer

<PageTitle>New Transaction</PageTitle>

<div class="container">
    <h3>Transfer Funds</h3>
    <EditForm Model="transaction" OnValidSubmit="CreateNewTransaction" method="post" FormName="CreateTransaction">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label>From Account</label>
            <select @bind="transaction.FromAccountId" class="form-control">
                <option>Select an account</option>
                @foreach (var account in accounts)
                {
                    <option value="@account.Id">@account.AccountName</option>
                }
            </select>
            <ValidationMessage For="@(() => transaction.FromAccountId)" />
        </div>
        <div class="mb-3">
            <label>To Account</label>
            <select @bind="transaction.ToAccountId" class="form-control">
                <option>Select an account</option>
                @foreach (var account in accounts)
                {
                    <option value="@account.Id">@account.AccountName</option>
                }
            </select>
            <ValidationMessage For="@(() => transaction.ToAccountId)" />
        </div>
        <div class="mb-3">
            <label>Amount</label>
            <InputNumber @bind-Value="transaction.OutgoingBalance" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Currency</label>
            <select @bind="transaction.Currency" class="form-control">
                @foreach (Currency c in Enum.GetValues(typeof(Currency)))
                {
                    <option value="@c">@c</option>
                }
            </select>
            <ValidationMessage For="@(() => transaction.Currency)" />
        </div>
        <!-- Message -->
        <div class="mb-3">
            <label>Message (optional)</label>
            <InputTextArea @bind-Value="transaction.Message" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit Transaction</button>
    </EditForm>
</div>

@code {
    private BankTransaction transaction = new BankTransaction();
    private List<Account> accounts = new List<Account>();

    // then it is initialized this will be called.
    protected override async Task OnInitializedAsync()
    {
        await LoadingAccounts();
    }
    // Loading accounts for the user
    private async Task LoadingAccounts()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        if (user != null)
        { // Bringing the accounts IF user is not Null => callin method from Service
            accounts = await DbContextService.GetAccountsByUserAsync(user);
        }
    }
    private async Task CreateNewTransaction()
    {
        if (!accounts.Any())
        { // to ensure the accounts are loaded
            await LoadingAccounts();
            if (!accounts.Any())
            {
                Console.WriteLine("No accounts loaded.");
                return; // If still no accounts, exit the method
            }
        }
        // Checking the current balance in "From Account"
        var fromAccount = accounts.FirstOrDefault(a => a.Id == transaction.FromAccountId);
        //var toAccount = accounts.FirstOrDefault(a => a.Id == transaction.ToAccountId);
        if (fromAccount == null)
        {
            Console.WriteLine("From Account not found.");
            return; // Exit if the "From Account" is not found
        }

        // Check if the balance is enough
        if (fromAccount.Balance < transaction.OutgoingBalance)
        {
            Console.WriteLine("Not enough funds for the transaction.");
            return; // Exit if the balance is not enough
        }

        try
        {
            transaction.TransactionDate = DateTime.Now;
            // Update the balances of the "From" and "To" accounts
            fromAccount.Balance -= transaction.OutgoingBalance;
            var toAccount = accounts.FirstOrDefault(a => a.Id == transaction.ToAccountId);
            if (toAccount != null)
            {
                toAccount.Balance += transaction.OutgoingBalance;
            }
            // Calling Service to make a transaction
            await DbContextService.CreateTransactionAsync(transaction);
            Console.WriteLine("Transaction created successfully.");
            NavigationManager.NavigateTo("/Bank/Accounts");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Something went wrong: {ex.Message}", ex);
        }
    }
}
